@use './functions' as *;
@use './media' as *;

// --- Container sizes
:root {
  --container-width: #{rem(1280)};
  --container-padding-x: #{rem(40)};

  @include tablet {
    --container-padding-x: #{rem(20)};
  }
}

// --- Colors ---
$color-black: #030303;
$color-dark-10: #0c0e11;
$color-dark-20: #222;

$color-light: #fff;
$color-light-opacity: rgba($color-light, 0.7);

$color-primary: #0ff;
$color-accent: #cf0e48;

$gradient: linear-gradient(90deg, #{$color-primary}, #{$color-accent});

//gap-section
$margin-block-section: fluid(70, 40);

// --- Fonts ---
$font-family-base: 'Poppins', sans-serif;


// ---Transitions ---
$transition: all 0.3s ease;
$transition-duration: 0.3s;

// Border
$border: 1px solid $color-light-opacity;

// --- Shadows ---
$box-shadow-accent: 0 3px 20px rgba($color-accent, 0.8);
$text-shadow-accent:  0 0 3px $color-accent, 0 0 10px rgba($color-accent, 0.8);



