@use '../helpers' as *;

.main {
  position: relative;
  flex-grow: 1;

  &-content {
    margin-block: $margin-block-section;

    &__title {
      position: relative;
      display: inline-flex;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: fluid(30, 20);

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(4);
        background: linear-gradient(90deg, $color-accent, $color-primary);
        border-radius: rem(3);
      }
    }

    &__description {
      font-size: 1rem;
      text-align: center;
      color: $color-light-opacity;
    }
  }
}

