@use '../helpers' as *;

.burger-button {
  z-index: 101;
  display: inline-flex;
  order: -1;
  flex-direction: column;
  justify-content: space-between;
  @include square(rem(34));
  padding: rem(8) rem(4);
  color: $color-light;
  background-color: transparent;
  border: none;

  @include tablet-above {
    display: none;
  }

  @include hover {
    color: $color-accent;
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0 0;
        translate: 0.25em -0.07em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  &__line {
    width: 100%;
    height: rem(2);
    border-radius: 1rem;
    background-color: currentColor;
    transition-duration: $transition-duration;

    &:last-child {
      width: 55%;
    }
  }
}